{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
  {% include "includes/service-headers/stomach-ache-services.html" %}
{% endblock %}

<main id="content" role="main">

  {% include "includes/prototype_design/back_javascript.html" %}

    <h1 class="heading-xlarge">Services near to [postcode] for your condition</h1>

    <p class="lede">Here are pharmacies and walk-in centres that can help you.</p>
    <p></p>


    <div class="grid-row">
      <div class="column-two-thirds">

        <table>
          <tr>
            <td colspan=2><span style="font-size: 18px; font-weight: 400;">Pharmacy</span></td>
          </tr>
          <tr>
            <td><span style="font-size: 24px; font-weight: 800;">Pharmacy Name Here</span></td>
            <td></td>
          </tr>
          <tr>
            <td><p><strong>Currently closed. Opens in 1 hour.</strong><br />Open today 9am to 6pm</p></td>
            <td></td>
          </tr>

          <tr>
            <td><p>15 High Street, Idle, Bradford, BD10 9RY<br />
                            Telephone 01234 5678901</p>
            </td>
            <td>Distance: 0.3 miles<br /><p><a href="https://www.google.com/maps?daddr=53.8335,-1.7295" class="button button-secondary-cta">See on map</a></p></td>
          </tr>


          <tr>
            <td colspan=2>

<details role="group">
              <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
                  <span>View full opening times</span>
              </summary>
              <div id="details-content-3" aria-hidden="true">

                  <table class="gpOpeningTimes">
                      <tbody>
                          <tr>
                              <td>Monday</td>
                              <td>9am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Tuesday</td>
                              <td>9am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Wednesday</td>
                              <td>9am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Thursday</td>
                              <td>9am to 6pm</td>
                          </tr>

                          <tr>
                              <td>Friday</td>
                              <td>8am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Saturday</td>
                              <td>Closed</td>
                          </tr>
                          <tr>
                              <td>Sunday</td>
                              <td>Closed</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </details>


            </td>
          </tr>

          <tr>
            <td colspan=2><hr></td>
          </tr>

          <tr>
            <td colspan=2><span style="font-size: 18px; font-weight: 400;">Walk-in centre</span></td>
          </tr>
          <tr>
            <td><span style="font-size: 24px; font-weight: 800;">Name Of Place</span></td>
            <td>Distance: 0.9 miles</td>
          </tr>
          <tr>
            <td><p>15 High Street, Idle, Bradford, BD10 9RY<br />
                              Telephone 01234 5678901</p></td>
            <td><p><a href="https://www.google.com/maps?daddr=53.8335,-1.7295" class="button button-secondary-cta">See on map</a></p></td>
          </tr>

          <tr>
            <td><p><strong>Currently open until 8pm</strong></p></td>
            <td></td>
          </tr>


          <tr>
            <td colspan=2>

<details role="group">
              <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
                  <span>View full opening times</span>
              </summary>
              <div id="details-content-3" aria-hidden="true">

                  <p>15 High Street, Idle, Bradford, BD10 9RY<br />
                  Telephone 01234 5678901</p>



                                    <table class="gpOpeningTimes">
                                        <tbody>
                                            <tr>
                                                <td>Monday</td>
                                                <td>9am to 6pm</td>
                                            </tr>
                                            <tr>
                                                <td>Tuesday</td>
                                                <td>9am to 6pm</td>
                                            </tr>
                                            <tr>
                                                <td>Wednesday</td>
                                                <td>9am to 6pm</td>
                                            </tr>
                                            <tr>
                                                <td>Thursday</td>
                                                <td>9am to 6pm</td>
                                            </tr>

                                            <tr>
                                                <td>Friday</td>
                                                <td>8am to 6pm</td>
                                            </tr>
                                            <tr>
                                                <td>Saturday</td>
                                                <td>Closed</td>
                                            </tr>
                                            <tr>
                                                <td>Sunday</td>
                                                <td>Closed</td>
                                            </tr>
                                        </tbody>
                                    </table>
              </div>
            </details>


            </td>
          </tr>


          <tr>
            <td colspan=2><hr></td>
          </tr>

          <tr>
            <td colspan=2><span style="font-size: 18px; font-weight: 400;">Pharmacy</span></td>
          </tr>
          <tr>
            <td><span style="font-size: 24px; font-weight: 800;">Another Place Name</span></td>
            <td>Distance: 1.3 miles</td>
          </tr>
          <tr>
            <td><p>15 High Street, Idle, Bradford, BD10 9RY<br />
                              Telephone 01234 5678901</p></td>
            <td></td>
          </tr>

          <tr>
            <td><p><strong>Currently open until 8pm</strong></p></td>
            <td><p><a href="https://www.google.com/maps?daddr=53.8335,-1.7295" class="button button-secondary-cta">See on map</a></p></td>
          </tr>

          <tr>
            <td colspan=2>

<details role="group">
              <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
                  <span>View full opening times</span>
              </summary>
              <div id="details-content-3" aria-hidden="true">


                                    <table class="gpOpeningTimes">
                                        <tbody>
                                            <tr>
                                                <td>Monday</td>
                                                <td>9am to 6pm</td>
                                            </tr>
                                            <tr>
                                                <td>Tuesday</td>
                                                <td>9am to 6pm</td>
                                            </tr>
                                            <tr>
                                                <td>Wednesday</td>
                                                <td>9am to 6pm</td>
                                            </tr>
                                            <tr>
                                                <td>Thursday</td>
                                                <td>9am to 6pm</td>
                                            </tr>

                                            <tr>
                                                <td>Friday</td>
                                                <td>8am to 6pm</td>
                                            </tr>
                                            <tr>
                                                <td>Saturday</td>
                                                <td>Closed</td>
                                            </tr>
                                            <tr>
                                                <td>Sunday</td>
                                                <td>Closed</td>
                                            </tr>
                                        </tbody>
                                    </table>
              </div>
            </details>


            </td>
          </tr>


        </table>


      </div>

      <div class="column-third">
          <h3 class="heading-small">Would you rather seen a GP?</h3>
          <p><a href="http://fierce-reef-62491.herokuapp.com/?search=BD10+9RY">Find and contact your GP</a>.
      </div>
    </div>


</main>

{% endblock %}
