{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<link href="/public/stylesheets/nhs_sprint15andbefore.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main">
<div class="module">
<h1 class="heading-xxlarge">Street Lane Practice</h1>

<p>12 Devonshire Avenue, Leeds, West Yorkshire, LS8 1AY</p>

<ul >
<li><a class="link" href="https://www.google.co.uk/maps/place/Devonshire+Ave,+Leeds,+West+Yorkshire+LS8+1AY/@53.8433464,-1.5154174,17z/data=!3m1!4b1!4m2!3m1!1s0x48795ba4c4865f53:0x88630d5f1ae46082" target="_blank">View on a map and get directions</a></li>
</ul>
<h2 class="phone">Call 0113 2371128</h2>
</div>
    <div class="module">
<div class="notice-red" role="note" aria-label="Information">
    <h2 class="subhead">Reception is closed now</h2>
    <ul>
      <li style="color:black;">Reception will open at 8am tomorrow.</li>
      <li style="color:black;">Call 111 for urgent care.</li>
    </ul>

</div>
<details role="group">
        <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
          <span>View opening times</span>
        </summary>
        <div id="details-content-3" aria-hidden="true">




  <table class="gpOpeningTimes">
    <thead>
      <tr>
        <th colspan=2>Reception opening times</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left60">Monday</td>
        <td class="right">08:00 to 18:00</td>
      </tr>
      <tr>
        <td class="left60">Tuesday</td>
        <td class="right40">08:00 to 20:30</td>
      </tr>
      <tr>
        <td class="left60">Wednesday</td>
        <td class="right">08:00 to 18:00</td>
      </tr>
      <tr>
        <td class="left60">Thursday</td>
        <td class="right">08:00 to 18:00</td>
      </tr>
      <tr>
        <td class="left60">Friday</td>
        <td class="right">08:00 to 18:00</td>
      </tr>
      <tr>
        <td class="left60">Saturday</td>
        <td class="right40">Closed</td>
      </tr>
      <tr>
        <td class="left60">Sunday</td>
        <td class="right40">Closed</td>
      </tr>
    </tbody>
  </table>

<p>Appointment times may not be the same as the practice's opening times.</p>
<p></p>

<table class="gpOpeningTimes">
  <thead>
    <tr>
      <th colspan=2>Days this practice will be closed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="left60">Monday 2 May 2016</td>
      <td class="right">Bank holiday</td>
    </tr>
    <tr>
      <td class="left60">Tuesday 3 May 2016</td>
      <td class="right">Training day</td>
    </tr>
    <tr>
      <td class="left60">Monday 30 May 2016</td>
      <td class="right">Bank holiday</td>
    </tr>

  </tbody>
  </table>

</div>


        </div>
      </details>

</div>

<div class="module">
<h2 class="subhead">Book a GP appointment</h2>
<p>You can book an appointment with a GP online</p>
<a href="gp-book-appointment" class="button ">Book a GP appointment</a></p>
<p>
<a href="gp-services" >Book other services offered at the practice</a></p>
<!--<p>If you have booked an appointment you can prepare by reading about your symptoms or condition</p>

<div class="search-box"><form class="search">
  <input type="text">
  <button type="submit">Search</button>
</form></div>-->
</div>


    <div class="module">
<h2 class="subhead">Registering as a new patient</h2>


<div  class="notice-grey">
<p>We are currently not accepting new patients</p>
</div>

<p><a href="javascript:void(0);">Find other GP Practices in the area</a></p>

</div>

    <div class="module">
<h2 class="subhead">Order a repeat prescription</h2>
<p>You can order a repeat prescription online if you are registered</p>
<p>You can also set up a repeat prescription with a pharmacy</p>
<a href="gp-prescriptions" class="button ">Order a repeat prescription</a>

</div>

    <div class="module">
<h2 class="subhead">Other local health services</h2>
<p>If you can't get an appointment immediately, you may be able to get help at a <a class="link" href="javascript:void(0);">Pharmacy</a> or <a class="link" href="javascript:void(0);">Walk in centre.</a></p>
<a href="javascript:void(0);" >View local Pharmacies and Walk in Centres</a>

</div>
<div class="module">

  <ul>
  <li><a href="http://www.streetlanepractice.com/" target="_blank">Read more on the Practice website</a></li>

  </ul>
<ul class="notice">
<li><input type="checkbox"> Remember Street Lane Practice as your local GP</li>
</ul></div>
</main>

{% endblock %}
