{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
  {% include "includes/service-headers/stomach-ache-services.html" %}
{% endblock %}

<main id="content" role="main">

  {% include "includes/prototype_design/back_javascript.html" %}

    <h1 class="heading-xlarge">Look for services to help you</h1>

<!-- This following block could be alert-orange, maybe -->

    <div class="grid-row">
      <div class="column-two-thirds">

        <form method="get" class="form">


<div class="form-item-wrapper">
  <div class="form-group">
    <label class="form-label-bold" for="postcode">
      Enter a postcode
    </label>

    <input type="text" id="postcode" name="postcode" value="" class="form-control">
  </div>
</div>


<div class="form-item-wrapper">
  <div class="form-group">

      <a href="stomach-ache-services-j" class="button ">Continue</a>

  </div>
</div>


  </form>

      </div>

    </div>


</main>

{% endblock %}
