{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
  {% include "includes/service-headers/stomach-ache-services.html" %}
{% endblock %}

<main id="content" role="main">

    <a href="/" class="back-to-previous">Back</a>

    <h1 class="heading-xlarge">Services near to [postcode] for stomach ache</h1>

    <div class="grid-row">
      <div class="column-two-thirds">

        <table>
          <tr>
            <td><span style="font-size: 18px; font-weight: 800;">1.</span></td>
            <td><span style="font-size: 18px; font-weight: 800;">This Is A Pharmacy</span></td>
            <td>Distance: 0.3 miles</td>
          </tr>
          <tr>
            <td></td>
            <td><p>Open tomorrow 8am to 6pm</p></td>
            <td><p><a href="https://www.google.com/maps?daddr=53.8335,-1.7295">Get directions</a></p></td>
          </tr>

          <tr>
            <td></td>
            <td colspan=2>

<details role="group">
              <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
                  <span>View full details</span>
              </summary>
              <div id="details-content-3" aria-hidden="true">

                  <p>15 High Street, Idle, Bradford, BD10 9RY<br />
                  Telephone 01234 5678901</p>

                  <p><strong>Opening times</strong></p>


                  <table class="gpOpeningTimes">
                      <tbody>
                          <tr>
                              <td>Monday to Thursday</td>
                              <td>8.30am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Friday</td>
                              <td>8am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Saturday</td>
                              <td>Closed</td>
                          </tr>
                          <tr>
                              <td>Sunday</td>
                              <td>Closed</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </details>


            </td>
          </tr>

          <tr>
            <td colspan=3><hr></td>
          </tr>

          <tr>
            <td><span style="font-size: 18px; font-weight: 800;">2.</span></td>
            <td><span style="font-size: 18px; font-weight: 800;">Another Pharmacy</span></td>
            <td>Distance: 0.8 miles</td>
          </tr>
          <tr>
            <td></td>
            <td><p>Open today 8.30am to 6pm</p></td>
            <td><p><a href="https://www.google.com/maps?daddr=53.8335,-1.7295">Get directions</a></p></td>
          </tr>


          <tr>
            <td></td>
            <td colspan=2>

<details role="group">
              <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
                  <span>View full details</span>
              </summary>
              <div id="details-content-3" aria-hidden="true">

                  <p>15 High Street, Idle, Bradford, BD10 9RY<br />
                  Telephone 01234 5678901</p>

                  <p><strong>Opening times</strong></p>


                  <table class="gpOpeningTimes">
                      <tbody>
                          <tr>
                              <td>Monday to Wednesday</td>
                              <td>8am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Thursday</td>
                              <td>8am to 10pm</td>
                          </tr>
                          <tr>
                              <td>Friday</td>
                              <td>8am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Saturday</td>
                              <td>8.30am to 4.30pm</td>
                          </tr>
                          <tr>
                              <td>Sunday</td>
                              <td>10am to 4pm</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </details>


            </td>
          </tr>


          <tr>
            <td colspan=3><hr></td>
          </tr>

          <tr>
            <td><span style="font-size: 18px; font-weight: 800;">3.</span></td>
            <td><span style="font-size: 18px; font-weight: 800;">Third Pharmacy</span></td>
            <td>Distance: 1.3 miles</td>
          </tr>
          <tr>
            <td></td>
            <td><p>Open today 8am to 8pm</p></td>
            <td><p><a href="https://www.google.com/maps?daddr=53.8335,-1.7295">Get directions</a></p></td>
          </tr>

          <tr>
            <td></td>
            <td colspan=2>

<details role="group">
              <summary class="more-info" role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
                  <span>View full details</span>
              </summary>
              <div id="details-content-3" aria-hidden="true">

                  <p>15 High Street, Idle, Bradford, BD10 9RY<br />
                  Telephone 01234 5678901</p>

                  <p><strong>Opening times</strong></p>


                  <table class="gpOpeningTimes">
                      <tbody>
                          <tr>
                              <td>Monday to Wednesday</td>
                              <td>8.30am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Tuesday</td>
                              <td>8.30am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Wednesday</td>
                              <td>8.30am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Thursday</td>
                              <td>8.30am to 1pm<br />
                                3.15pm to 6pm</td>
                          </tr>
                          <tr>
                              <td>Friday</td>
                              <td>8.30am to 6pm</td>
                          </tr>
                          <tr>
                              <td>Saturday</td>
                              <td>Closed</td>
                          </tr>
                          <tr>
                              <td>Sunday</td>
                              <td>Closed</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </details>


            </td>
          </tr>


        </table>


      </div>
    </div>


</main>

{% endblock %}
