{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
  {% include "includes/service-headers/stomach-ache-services.html" %}
{% endblock %}

<main id="content" role="main">

  <h1 class="heading-xlarge">Look for a symptom or condition</h1>

  <div class="grid-row">

      <div class="column-two-thirds">

          <ul class="list-bullet">
            <li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/seasonal-affective-disorder?apikey=bbccdd">
    SAD</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/salivary-gland-stones?apikey=bbccdd">
    Salivary stones</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/salmonella-infection?apikey=bbccdd">
    Salmonella infection</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sarcoidosis?apikey=bbccdd">
    Sarcoidosis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/ewings-sarcoma?apikey=bbccdd">
    Sarcoma, Ewing</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/kaposis-sarcoma?apikey=bbccdd">
    Sarcoma, Kaposi&#39;s</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/soft-tissue-sarcoma?apikey=bbccdd">
    Sarcoma, soft tissue</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sars?apikey=bbccdd">
    SARS</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/scabies?apikey=bbccdd">
    Scabies</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/scarlet-fever?apikey=bbccdd">
    Scarlet fever</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/scars?apikey=bbccdd">
    Scars</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/schistosomiasis?apikey=bbccdd">
    Schistosomiasis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/schizophrenia?apikey=bbccdd">
    Schizophrenia</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sciatica?apikey=bbccdd">
    Sciatica</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/scleroderma?apikey=bbccdd">
    Scleroderma</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/scoliosis?apikey=bbccdd">
    Scoliosis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/typhus?apikey=bbccdd">
    Scrub typhus</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/scurvy?apikey=bbccdd">
    Scurvy</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stings-marine-creatures?apikey=bbccdd">
    Sea creature stings</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/seasonal-affective-disorder?apikey=bbccdd">
    Seasonal affective disorder (SAD)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/hay-fever?apikey=bbccdd">
    Seasonal allergic rhinitis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/flu?apikey=bbccdd">
    Seasonal flu</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/selective-mutism?apikey=bbccdd">
    Selective mutism</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/ssris-(selective-serotonin-reuptake-inhibitors)?apikey=bbccdd">
    Selective serotonin reuptake inhibitors</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/self-injury?apikey=bbccdd">
    Self-harm</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/blood-in-semen?apikey=bbccdd">
    Semen, bloody</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/blood-poisoning?apikey=bbccdd">
    Sepsis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/septic-arthritis?apikey=bbccdd">
    Septic arthritis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/septic-shock?apikey=bbccdd">
    Septic shock</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/blood-poisoning?apikey=bbccdd">
    Septicaemia</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/gender-dysphoria?apikey=bbccdd">
    Sex change</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sexually-transmitted-infections?apikey=bbccdd">
    Sexually transmitted infections (STIs)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/dysentery?apikey=bbccdd">
    Shigella</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/shin-splints?apikey=bbccdd">
    Shin splints</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/shingles?apikey=bbccdd">
    Shingles</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/restricted-growth?apikey=bbccdd">
    Short stature</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/shortness-of-breath?apikey=bbccdd">
    Shortness of breath</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/short-sightedness?apikey=bbccdd">
    Short-sightedness</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/dislocated-shoulder?apikey=bbccdd">
    Shoulder dislocation</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/shoulderpain?apikey=bbccdd">
    Shoulder pain</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/impingement-syndrome?apikey=bbccdd">
    Shoulder tendon, trapped</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/social-anxiety?apikey=bbccdd">
    Shyness (social anxiety disorder)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sick-building-syndrome?apikey=bbccdd">
    Sick building syndrome</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sickle-cell-anaemia?apikey=bbccdd">
    Sickle cell anaemia</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/vomiting-children-babies?apikey=bbccdd">
    Sickness in children and babies</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sudden-infant-death-syndrome?apikey=bbccdd">
    SIDS</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/silicosis?apikey=bbccdd">
    Silicosis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/hiccup?apikey=bbccdd">
    Singultus</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sinus-headache?apikey=bbccdd">
    Sinus headache</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sinusitis?apikey=bbccdd">
    Sinusitis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sjogrens-syndrome?apikey=bbccdd">
    Sjogren&#39;s syndrome</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/malignant-melanoma?apikey=bbccdd">
    Skin cancer (melanoma)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/cancer-of-the-skin?apikey=bbccdd">
    Skin cancer (non-melanoma)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/skin-cyst?apikey=bbccdd">
    Skin cyst</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/skin-rash-babies?apikey=bbccdd">
    Skin rashes in babies</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/skin-rash-children?apikey=bbccdd">
    Skin rashes in children</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/skin-tags?apikey=bbccdd">
    Skin tags</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/cyanosis?apikey=bbccdd">
    Skin, blue</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/dermatillomania?apikey=bbccdd">
    Skin-picking habit</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/slapped-cheek-syndrome?apikey=bbccdd">
    Slapped cheek syndrome</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sleep-apnoea?apikey=bbccdd">
    Sleep apnoea</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sleep-paralysis?apikey=bbccdd">
    Sleep paralysis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/hypersomnia?apikey=bbccdd">
    Sleepiness in the day (severe and unexplained)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sleepwalking?apikey=bbccdd">
    Sleepwalking</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/slipped-disc?apikey=bbccdd">
    Slipped disc</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/small-bowel-transplant?apikey=bbccdd">
    Small bowel transplant</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/cervical-screening-test?apikey=bbccdd">
    Smear test</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/anosmia?apikey=bbccdd">
    Smell sense, loss of</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/phantosmia?apikey=bbccdd">
    Smell, imaginary (phantom smell)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/smelly-urine?apikey=bbccdd">
    Smelly urine</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/smoking-(quitting)?apikey=bbccdd">
    Smoking treatments</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/bites-snake?apikey=bbccdd">
    Snake bites</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/snoring?apikey=bbccdd">
    Snoring</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/social-anxiety?apikey=bbccdd">
    Social anxiety disorder (social phobia)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/soft-tissue-sarcoma?apikey=bbccdd">
    Soft tissue sarcoma</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/encopresis?apikey=bbccdd">
    Soiling of pants in children (encopresis)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/solar-keratosis?apikey=bbccdd">
    Solar keratoses</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/medically-unexplained-symptoms?apikey=bbccdd">
    Somatisation disorder</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/photodynamic-therapy-ngpdt-sonodynamic-therapy?apikey=bbccdd">
    Sonodynamic therapy (SDT)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/dry-lips?apikey=bbccdd">
    Sore lips</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sore-throat?apikey=bbccdd">
    Sore throat</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/tongue-pain?apikey=bbccdd">
    Sore tongue</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/hyperacusis?apikey=bbccdd">
    Sound intolerance (hyperacusis)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/spastic-paraplegia?apikey=bbccdd">
    Spastic paraplegia, hereditary</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/low-sperm-count?apikey=bbccdd">
    Sperm count, low</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/bites-insect?apikey=bbccdd">
    Spider bite</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/spina-bifida?apikey=bbccdd">
    Spina bifida</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/spinal-muscular-atrophy?apikey=bbccdd">
    Spinal muscular atrophy</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/spirometry?apikey=bbccdd">
    Spirometry</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/spleen-disorders-splenectomy?apikey=bbccdd">
    Spleen disorders and splenectomy</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/spondylolisthesis?apikey=bbccdd">
    Spondylolisthesis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sports-injuries?apikey=bbccdd">
    Sports injuries</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sprains?apikey=bbccdd">
    Sprains and strains</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sprains?apikey=bbccdd">
    Sprains</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/bowens-disease?apikey=bbccdd">
    Squamous cell carcinoma in situ</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/cancer-of-the-skin?apikey=bbccdd">
    Squamous cell carcinoma</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/squint?apikey=bbccdd">
    Squint</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/ssris-(selective-serotonin-reuptake-inhibitors)?apikey=bbccdd">
    SSRIs (selective serotonin reuptake inhibitors)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stammering?apikey=bbccdd">
    Stammering</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/staphylococcal-infections?apikey=bbccdd">
    Staphylococcal infections</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/cholesterol-lowering-medicines-statins?apikey=bbccdd">
    Statins</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/fatty-liver-disease?apikey=bbccdd">
    Steatosis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/polycystic-ovarian-syndrome?apikey=bbccdd">
    Stein-Leventhal syndrome</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/bone-marrow-transplant?apikey=bbccdd">
    Stem cell transplant</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/coronary-angioplasty?apikey=bbccdd">
    Stent insertion</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/corticosteroid-(drugs)?apikey=bbccdd">
    Steroid medication</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/anabolic-steroid-abuse?apikey=bbccdd">
    Steroid misuse</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stevens-johnson-syndrome?apikey=bbccdd">
    Stevens-Johnson syndrome</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/neck-pain?apikey=bbccdd">
    Stiff neck</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stillbirth?apikey=bbccdd">
    Stillbirth</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stings-marine-creatures?apikey=bbccdd">
    Stings, sea creatures</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sexually-transmitted-infections?apikey=bbccdd">
    STIs</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/ileostomy?apikey=bbccdd">
    Stoma</a> </li>

    <li><a href="symptoms_stomach_ache">Stomach ache</a></li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/cancer-of-the-stomach?apikey=bbccdd">
    Stomach cancer</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stomach-ache-abdominal-pain?apikey=bbccdd">
    Stomach cramps</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/gastrectomy?apikey=bbccdd">
    Stomach removal surgery</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/peptic-ulcer?apikey=bbccdd">
    Stomach ulcer</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/periods-absent?apikey=bbccdd">
    Stopped or missed periods</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/birthmarks?apikey=bbccdd">
    Strawberry mark</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sore-throat?apikey=bbccdd">
    Strep throat</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/streptococcal-infections?apikey=bbccdd">
    Streptococcal infections</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/incontinence-urinary?apikey=bbccdd">
    Stress incontinence</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stretch-marks?apikey=bbccdd">
    Stretch marks</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stretch-marks?apikey=bbccdd">
    Stria</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/transient-ischaemic-attack?apikey=bbccdd">
    Stroke, mini</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stroke?apikey=bbccdd">
    Stroke</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stammering?apikey=bbccdd">
    Stuttering</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/stye?apikey=bbccdd">
    Stye</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/subarachnoid-haemorrhage?apikey=bbccdd">
    Subarachnoid haemorrhage</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/panniculitis?apikey=bbccdd">
    Subcutaneous sarcoidosis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/subdural-haematoma?apikey=bbccdd">
    Subdural haematoma</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sudden-infant-death-syndrome?apikey=bbccdd">
    Sudden infant death syndrome (SIDS)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/suicide?apikey=bbccdd">
    Suicide</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/sunburn?apikey=bbccdd">
    Sunburn</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/phlebitis?apikey=bbccdd">
    Superficial thrombophlebitis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/supraventricular-tachycardia?apikey=bbccdd">
    Supraventricular tachycardia</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/surgery?apikey=bbccdd">
    Surgery planner</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/supraventricular-tachycardia?apikey=bbccdd">
    SVT (supraventricular tachycardia)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/swallowing-pills?apikey=bbccdd">
    Swallowing pills (problems)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/dysphagia?apikey=bbccdd">
    Swallowing problems</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/prickly-heat?apikey=bbccdd">
    Sweat rash</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/hyperhidrosis?apikey=bbccdd">
    Sweating, excessive (hyperhidrosis)</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/lumps-swellings?apikey=bbccdd">
    Swelling or lump</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/otitis-externa?apikey=bbccdd">
    Swimmer&#39;s ear</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/pandemic-flu?apikey=bbccdd">
    Swine flu</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/oedema?apikey=bbccdd">
    Swollen ankles</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/swollen-glands?apikey=bbccdd">
    Swollen glands</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/synaesthesia?apikey=bbccdd">
    Synaesthesia</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/fainting?apikey=bbccdd">
    Syncope</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/syphilis?apikey=bbccdd">
    Syphilis</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/chiari-malformation?apikey=bbccdd">
    Syringomyelia</a> </li>

<li><a href="http://v1.syndication.nhschoices.nhs.uk/conditions/articles/lupus?apikey=bbccdd">
    Systemic lupus erythematosus</a> </li>
          </ul>

          <p>List of conditions taken from the <a href="http://v1.syndication.nhschoices.nhs.uk/conditions/atoz/?apikey=bbccdd">NHS Choices syndication feed</a>.</p>

        </div>

  </div>

</main>

{% endblock %}
