{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
  {% include "includes/service-headers/stomach-ache-services.html" %}
{% endblock %}

<main id="content" role="main">

  {% include "includes/prototype_design/back_javascript.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">


    <h1 class="heading-xlarge">Services near to [postcode] for stomach ache</h1>


    </div>
    </div>


    <div class="grid-row">
      <div class="column-half">

      <h3>This Is A Pharmacy</h3>

      <p>Address line 1<br />
        [if] Address line 2<br />
        [if] Address line 3<br />
        [if] Address line 4<br />
        [if] Address line 5<br />
        Postcode
      </p>

      <p><strong>[if can phone - is this a flag we have?] </strong> 01234 567890</p>

      <h4>Opening times</h4>

      <ul>
        <li><strong>Today</strong> 8am to 5pm</li>
        <li><strong>Tomorrow</strong> 8am to 8pm</li>
      </ul>

      <p>Distance from [postcode]: 0.3 miles<br />
        Journey time:   <select class="select-mode" name="">
                          <option value="DRIVING" aria-live="polite">Driving</option>
                          <option value="TRANSIT" aria-live="polite">Bus/Train</option>
                          <option value="WALKING" aria-live="polite">Walking</option>
                          <option value="BICYCLING" aria-live="polite">Cycling</option>
                        </select>

        <span class="journey-time" aria-live="polite">6 minutes</span>
      </p>
    </div>

  </div>





</main>

{% endblock %}
