{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
  {% include "includes/service-headers/stomach-ache-services.html" %}
{% endblock %}

<main id="content" role="main">

    <a href="/" class="back-to-previous">Back</a>

    <h1 class="heading-xlarge">Look for services to help you with stomach ache</h1>

<!-- This following block could be alert-orange, maybe -->

    <p>We will help you find pharmacies and walk-in centres that can give you medical guidance.</p>

    <p>You may not need an appointment at these services.</p>

    <p><a href="">What are the differences between pharamcies and walk-in centres?</a></p>

    <div class="grid-row">
      <div class="column-two-thirds">

        <form method="get" class="form">


<div class="form-item-wrapper">
  <div class="form-group">
    <label class="form-label-bold" for="postcode">
      Postcode
    </label>

    <input type="text" id="postcode" name="postcode" value="" class="form-control">
  </div>
</div>

<!-- Preferred contact method -->

<div class="form-item-wrapper">
 <fieldset>
   <legend class="form-label-bold">Do you have specific access needs?</legend>

   <p class="form-label">
     This will help us show you services you can get to.
   </p>

   <div class="inline-form-groups">
     <div class="form-group">
       <input type="radio" id="yes" name="access">
       <label class="form-control-radio js-toggle" for="yes" data-show="#access-yes" data-hide="#access-no">
         Yes
       </label>
     </div>
     <div class="form-group">
       <input type="radio" id="no" name="access">
       <label class="form-control-radio js-toggle" for="no" data-hide="#access-yes" data-show="#access-no">
         No
       </label>
     </div>
   </div>

   <div class="js-hidden panel-indent" id="access-yes">


     <div class="form-item-wrapper">
       <div class="form-group">
         <input type="checkbox" id="checkbox-minor-1" name="minor-1">
         <label class="form-control-checkbox minor" for="checkbox-minor-1">
           Item 1
         </label>
       </div>
     </div>


   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-2" name="minor-2">
       <label class="form-control-checkbox minor" for="checkbox-minor-2">
         Item 2
       </label>
     </div>
   </div>


 </fieldset>
</div>




<div class="form-item-wrapper">
  <div class="form-group">

      <a href="stomach-ache-services-j" class="button ">Search</a>

  </div>
</div>


  </form>

      </div>

    </div>


</main>

{% endblock %}
