{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
  {% include "includes/service-headers/stomach-ache-services.html" %}
{% endblock %}

<main id="content" role="main">

  {% include "includes/prototype_design/back_javascript.html" %}

    <!--<h1 class="heading-xlarge">Headline</h1>-->


    <div class="grid-row">
      <div class="column-two-thirds">

        <p class="lede">We want to hook you up with someone who can help you with your {a symptom, which we are stating explicitly to make it clear this is what we are going to help you with}.</p>

        <p>If you are not looking for help with {a symptom which we are explicitly referring to}, you can <a href="symptoms_page">go back to the symptoms page</a>.</p>



      <a href="services_search_mobility" class="button ">Continue</a>

      </div>

    </div>


</main>

{% endblock %}
