{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">NHS.UK Connecting to Services<br />Design and research prototypes</h1>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Sprint 42</h2>

      <p><strong>Tuesday 6 September to Tuesday 21 September</strong></p>
      <ul class="list-bullet">
        <li>MVP static prototype
          <ul class="list-bullet">
            <li>
              New static prototype for design work shifting to beta styling.
              <a href="https://cts-design-beta.herokuapp.com">Click here</a>
            </li>
          </ul>
        </li>
      </ul>



      <h2 class="heading-medium">Sprint 41</h2>

      <p><strong>Tuesday 22 August to Tuesday 6 September</strong></p>

      <h3>Design</h3>
      <ul class="list-bullet">
        <li>MVP static prototype
          <ul class="list-bullet">
            <li>
              <a href="sprint-41/design/31-08-2016-mvp/index">31 August 2016</a>
            </li>
            (This is the MVP reference, but with alpha styling.)
          </ul>
        </li>
        <li>Stomach ache and headache design reference for dev prototype for pop-up research session on Wednesday 31 August
          <ul class="list-bullet">
            <li>
              <a href="sprint-41/design/25-08-2016/symptoms_index">25 August 2016</a>
            </li>
            (This is not the MVP reference.)
          </ul>
        </li>
      </ul>


      <hr>


      <h2 class="heading-medium">Sprint 40</h2>

      <p><strong>Tuesday 9 August to Tuesday 22 August</strong></p>

      <h3>Design</h3>
      <ul class="list-bullet">
        <li>Exploratory into-the-finder journey
          <ul class="list-bullet">
            <li>
              <a href="sprint-40/design/17-08-2016/symptoms_index">17 August 2016</a><br />
              Iterating on the <a href="sprint-40/design/15-08-2016/symptoms_index">work from 15 August</a>.
            </li>

            <li>
              <a href="sprint-40/design/15-08-2016/symptoms_index">15 August 2016</a><br />
              Iterating on the <a href="sprint-39/design/journey_exploration_after_research_lab/symptoms_page">guiding into-the-journey</a> design development from the previous sprint.
            </li>
          </ul>


      <hr>


      <h2 class="heading-medium">Sprint 39</h2>

      <p><strong>Tuesday 26 July to Tuesday 9 August</strong></p>

      <h3>Design</h3>
      <ul class="list-bullet">
        <li>Exploratory into-the-finder journey
          <ul class="list-bullet">
            <li>
              <a href="sprint-39/design/journey_exploration_after_research_lab/symptoms_page">Option A</a><br />
              Start on a symptom page, you've probably got to from a Google search
            </li>
          </ul>
        </li>
        <li>Enter postcode
          <ul class="list-bullet">
            <li>
              <a href="sprint-39/design/services-search-symptons-a">Option A</a><br />
              Basic title, one entry field for the postcode
            </li>
            <li>
              <a href="sprint-39/design/services-search-symptons-b">Option B</a><br />
              Title of page responds based on sympton/condition that passes you through
            </li>
            <li>
              <a href="sprint-39/design/services-search-symptons-c">Option C</a><br />
          Title of page responds based on sympton/condition, also includes list of access options (based on data on NHS Choices)
            </li>
          </ul>
        </li>
      </ul>

      <h3>Research</h3>

      <ul class="list-bullet">
        <li>
          <a href="sprint-39/research/conditions-list">Design prototype for usability lab on Wednesday 3 July</a>
        </li>
      </ul>

      <hr>

      <a href="sprint-archive" class="button button-secondary-cta">View archive of design work for sprints</a>

    </div>

    <div class="column-third">

    {% include "includes/prototype_frontend/right_hand_third.html" %}

    </div>
  </div>

</main>

{% endblock %}
