{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">NHS.UK Connecting to Services<br />Design and research prototypes</h1>


  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-medium">Current sprint: Sprint 39</h2>

      <h3>Design</h3>
      <p>No work started yet</p>

      <h3>Research</h3>
      <p>Design prototype for usability lab on Wednesday 3 July.</p>

      <p><a href="sprint-39/research/conditions-list" class="button button-primary-cta">See list of conditions and symptons</a></p>

      <hr>

      <p><a href="sprint-archive" class="button button-secondary-cta">View previous sprints' work</a></p>

    </div>

    <div class="column-third">

    {% include "includes/prototype_frontend/right_hand_third.html" %}

    </div>
  </div>

</main>

{% endblock %}
