{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">


    <div class="column-two-thirds">
      <h1 class="heading-large">NHS.UK Connecting to Services<br />design prototypes</h1>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

  <h2 class="heading-medium">Current prototype: Sprint 16</h2>

  <h3 class="heading-small">Design work</h3>

  <ul>
    <li>20 June 2016
      <ul class="list-bullet">
        <li><a href="sprint-16/20-06-2016/gp-home-open">GP home page, open</a></li>
        <li><a href="sprint-16/20-06-2016/gp-home-open-b">GP home page, open, option B</a></li>
        <li><a href="sprint-16/20-06-2016/gp-home-open-c">GP home page, open, option C</a></li>
        <li><a href="sprint-16/20-06-2016/gp-home-open-d">GP home page, open, option D</a></li>

      </ul>
    </li>
  </ul>

  <h3 class="heading-small">For BA meeting on 15 June 2016</h3>

  <ul>
    <li>GP reception page<br />
      <ul class="list-bullet">
        <li><a href="sprint-16/ba-meeting/gp-home-open-ba-test">Option A</a></li>
        <li><a href="sprint-16/ba-meeting/gp-home-open-2016-06-15-denser-ba-test">Option B</a></li>
      </ul>
    </li>
  </ul>

<hr>

  <h2 class="heading-medium">Sprint 15</h2>

  <h3 class="heading-small">For usability lab on 9 June 2016</h3>

  <ul>
    <li>GP reception page open<br />
      <ul class="list-bullet">
        <li><a href="sprint-15/gp-home-open">Option A</a><br />
          The design from the previus sprint, sprint 14</li>
        <li><a href="sprint-15/gp-home-open-2016-06-07-d">Option B</a><br />
          The design specifically for this sprint. Additional information in page's summary panel, reception times presented as table, book a GP appointment moved up the page's information hierarchy, reviews removed</li>
        <li><a href="sprint-15/gp-home-open-2016-06-07-d-denser-content">Option C</a><br />
          Same design as option B (above) but with denser information in page's summary panel
        </li>
      </ul>
    <li>GP page, reception closed<br />
      <ul class="list-bullet">
        <li><a href="sprint-15/gp-home-closed">Option A</a><br />
        With red type on a yellow summary panel</li>
        <li><a href="sprint-15/gp-home-open-2016-06-07-d-closed-yellow">Option B</a><br />
        With black type on a yellow summary panel</li>
      </ul>
    </li>
    <li>Book a GP appointment<br />
      <ul class="list-bullet">
        <li><a href="sprint-15/gp-book-appointment">Option A</a><br />
        Link-up book a GP page</li>
        <li><a href="sprint-15/gp-book-appointment-B">Option B</a><br />
        As option A but includes availibilty of appointments table (and short following journey) to gauge users' preference</li>
      </ul>
    </li>
  </ul>


  <h3 class="heading-small">Design work</h3>

  <ul>
    <li>GP reception page<br />
      <ul class="list-bullet">
        <li>Option A
          <ul>
            <li><a href="sprint-15/gp-home-open-2016-06-07-a">Open</a></li>
          </ul>
        </li>
        <li>Option B
          <ul>
            <li><a href="sprint-15/gp-home-open-2016-06-07-b-closed">Closed, white-on-blue summary panel</a></li>
            <li><a href="sprint-15/gp-home-open-2016-06-07-b-closed-grey">Closed black-on-grey summary panel</a></li>
            <li><a href="sprint-15/gp-home-open-2016-06-07-b-closed-red">Closed red-on-grey summary panel</a></li>
            <li><a href="sprint-15/gp-home-open-2016-06-07-b-closed-yellow">Closed black-on-yellow summary panel, with two lines of telephone numbers</a></li>
          </ul>
        </li>
        <li>Option C
          <ul>
            <li><a href="sprint-15/gp-home-open-2016-06-07-c">Open, green summary panel</a></li>
          </ul>
        </li>
        <li>Option D
          <ul>
            <li><a href="sprint-15/gp-home-open-2016-06-07-d">Open, green summary panel, with three lines of content</a></li>
            <li><a href="sprint-15/gp-home-open-2016-06-07-d-denser-content">Open, green summary panel, more content</a></li>
            <li><a href="sprint-15/gp-home-open-2016-06-07-d-closed-yellow">Closed, yellow summary panel, with directions if "urgent"</a></li>
          </ul>
        </li>

      </ul>
    </li>
  </ul>



  <h2 class="heading-medium">Sprint 14</h2>

  <h3 class="heading-small">For usability lab on 9 June 2016</h3>

  <ul>
    <li><a href="sprint-14/gp-home-open">GP page, reception open</a></li>
    <li><a href="sprint-14/gp-prescriptions">Order a repeat prescription</a></li>
    <li><a href="sprint-14/gp-services">Other practice services</a></li>
  </ul>


</div>
<div class="grid-row">
  <div class="column-one-third">

    <h2 class="heading-medium">Other pages</h2>
    <ul>
      <li><a href="/examples">Example pages</a></li>
    </ul>
    <p>
      <a href="http://digital.nhs.uk/">Read our blog</a>
    </p>


</div>

</main>

{% endblock %}
