{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

{% block afterHeader %}
  {% include "includes/service-headers/stomach-ache-services.html" %}
{% endblock %}

<main id="content" role="main">

  {% include "includes/prototype_design/back_javascript.html" %}


  <h1 class="heading-xlarge">Enter an address or postcode</h1>


<!-- This following block could be alert-orange, maybe -->

    <div class="grid-row">
      <div class="column-two-thirds">

        <form method="get" class="form">

<div class="form-item-wrapper">
  <div class="form-group">
    <label class="form-label-bold" for="postcode">
      <!-- label -->
    </label>

    <input type="text" id="postcode" name="postcode" value="" class="form-control">
  </div>
</div>

<!-- Preferred contact method -->

<div class="form-item-wrapper">
 <fieldset>
   <legend class="form-label-bold">Are there specific access needs?</legend>

   <p class="form-label">
     <!-- nothing -->
   </p>

   <div class="inline-form-groups">
     <div class="form-group">
       <input type="radio" id="yes" name="access">
       <label class="form-control-radio js-toggle" for="yes" data-show="#access-yes" data-hide="#access-no">
         Yes
       </label>
     </div>
     <div class="form-group">
       <input type="radio" id="no" name="access">
       <label class="form-control-radio js-toggle" for="no" data-hide="#access-yes" data-show="#access-no">
         No
       </label>
     </div>
   </div>

   <div class="js-hidden panel-indent" id="access-yes">


     <div class="form-item-wrapper">
       <div class="form-group">
         <input type="checkbox" id="checkbox-minor-1" name="minor-1">
         <label class="form-control-checkbox minor" for="checkbox-minor-1">
           Braille translation service
         </label>
       </div>
     </div>


   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-2" name="minor-2">
       <label class="form-control-checkbox minor" for="checkbox-minor-2">
         Disabled parking
       </label>
     </div>
   </div>

   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-3" name="minor-3">
       <label class="form-control-checkbox minor" for="checkbox-minor-3">
         Disabled WC
       </label>
     </div>
   </div>

   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-10" name="minor-10">
       <label class="form-control-checkbox minor" for="checkbox-minor-10">
         * Gender specific
       </label>
     </div>
   </div>


   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-4" name="minor-4">
       <label class="form-control-checkbox minor" for="checkbox-minor-4">
         Induction loop
       </label>
     </div>
   </div>

   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-5" name="minor-5">
       <label class="form-control-checkbox minor" for="checkbox-minor-5">
         RNID typetalk
       </label>
     </div>
   </div>

   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-6" name="minor-6">
       <label class="form-control-checkbox minor" for="checkbox-minor-6">
         Signing service available
       </label>
     </div>
   </div>

   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-7" name="minor-7">
       <label class="form-control-checkbox minor" for="checkbox-minor-7">
         Wheelchair access
       </label>
     </div>
   </div>

   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-8" name="minor-8">
       <label class="form-control-checkbox minor" for="checkbox-minor-8">
         Step free access
       </label>
     </div>
   </div>

   <div class="form-item-wrapper">
     <div class="form-group">
       <input type="checkbox" id="checkbox-minor-9" name="minor-9">
       <label class="form-control-checkbox minor" for="checkbox-minor-9">
         * Translation
       </label>
     </div>
   </div>


 </fieldset>
</div>

<div class="form-item-wrapper">
  <div class="form-group">

      <a href="services_results" class="button ">Continue</a>

  </div>
</div>


  </form>

      </div>

    </div>

</div>

</main>

{% endblock %}
